/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
#contenedor {
    width: 800px;
    margin: 20px auto;
}

/* Cabecera */
#cabecera {
    background-color: #ddd;
    padding: 20px;
    border-bottom: 1px solid black;
    display: none;
}

/* Menú */
#menu {
    width: 25%;
    float: right;
    background-color: #bbb;
    padding: 20px;
    border-left: 1px solid black;
    height: 60vh;
    display: none;
}

/* Contenido */
#contenido {
    width: 100%;
    float: left;
    background-color: #eee;
    padding: 20px;
    height: 60vh;
    border: 1px solid black;
}


/* Pie de página */
#pie {
    clear: both;
    background-color: #ddd;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
    display: none;
}